<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="myAppSettings"
             type="Question14_3.MyAppSettings, Question14-3"/>
  </configSections>
  <myAppSettings>
    <traceOption enabled="true"
                 filePath="C:\MyApp\Trace.log"
                 bufferSize="10240" />
    <CalendarOption StringFormat="yyyy年MM月dd日(ddd)"
                    Minimum="1990/1/1"
                    Maximum="2100/12/31"
                    MondayIsFirstDay="True" />
  </myAppSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>